<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>Resume</h1>
  <h2>Addie</h2>
  <hr />
  <br>
  <p class="head">Interests</p>
  <ul>
    <li>Painting</li>
    <li>Working Out</li>
    <li>Reading</li>
    <li>Programming</li>
    <li>Information Systems</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>Web Design with HTML & CSS</li>
  </ul>
  <p class="head">Education</p>
  <ul>
    <a href="https://www.weldre5j.k12.co.us/roosevelt">
      <li>Roosevelt High School</li>
    </a>
    <!--Link-->
    <a href="https://www.usu.edu/">
      <li>Utah State University</li>
    </a>
  </ul>
  <p class="head">Experience</p>
  <ul>
    <li>CS Intern for Rent Dynamics</li>
    <li>Data Analysis Intern for NetDocuments</li>
  </ul>
</div>
<div class="right"></div>
<div id="footer">
  <h2 id="name">Addie</h2></div>